\documentclass[11pt, a4paper]{minimal}
\usepackage[english,russian]{babel}
\usepackage[margin=0.75in]{geometry}
\usepackage{fontawesome}
\usepackage{fontspec}
\usepackage{setspace}
\usepackage{xcolor}
\usepackage{hyperref}

\setmainfont{Noto Sans}
\setsansfont{Noto Sans}
\setmonofont{Noto Mono}


\begin{document}

% === Header ===
\begin{center}
  \renewcommand{\baselinestretch}{1.5}
  \fontsize{34pt}{34pt}\selectfont
  \textbf{Denis Gruzdev}

  \fontsize{17pt}{17pt}\selectfont
  Software Developer % TODO: make it dynamic

  \fontsize{12pt}{12pt}\selectfont
  \textcolor{gray}{\textit{26 years old, Russia}}

  \href{tel:79999767890}{+7 (999) 976-78-90} $|$ codingjerk@gmail.com $|$ \href{https://github.com/codingjerk}{\faicon{github} codingjerk} $|$ \href{https://gitlab.com/codingjerk}{\faicon{gitlab} codingjerk} % $|$ \faicon{skype} live:codingjerk
\end{center}

\end{document}
